@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
  margin: 5px;
  padding: 5px;
}
.logo {
  height: 100px;
  width: 100px;
}
.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.nav-bar {
  list-style: none;
  display: flex;
  text-align: center;
  margin-top: 40px;
}

.nav-bar > li {
  padding-right: 15px;
}

.cart {
  margin-top: 40px;
  margin-right: 10px;
}

.container {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.container-head {
  display: flex;
  gap: 38%;
}
.search-container {
  /* padding-top: 30px; */
/* text-align: center;
  padding-bottom: 30px;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}
.card {
  border: 1px solid black;
  width: 250px;
  padding: 10px;
  /* flex-grow: 1; 
}
/*.card > img {
  width: 100%;
}
.cart-element {
  padding-right: 5px;
}
.shimmer-card {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
}
.restaurant {
  display: flex;
  margin: 5px;
  padding: 5px;
}
.contact-container {
  display: flex;
  justify-content: space-between;
}*/
